{% extends "base.html" %}

{% block content %}

<div class="well">
	<h3>
		        {% if blogs|length > 1 %}
		        	{{blogs|length}} blogs
		        {% elif blogs|length == 1 %}
		            {{blogs|length}} blog
		        {% else %}
		            Blogs list is empty
		        {% endif %}
		    </h3>
		    <hr/>
{% for blog in blogs %}
	<div class="panel panel-info">
		<div class="panel-heading">
			<kbd>{{blog.created_at}}</kbd>
			
			<a href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a>
		</div>
		<div class="panel-body">
			<a href="{% url 'blog_delete' blog.id %}"><button class="btn btn-danger">delete</button></a>
		</div>
	</div>
{% endfor %}
</div>
{% endblock content %}
